@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* src/globals.css */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Default styles for html and body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb; /* Optional: Set a default background color */
    -webkit-font-smoothing: antialiased; /* Font smoothing for WebKit (Safari, Chrome) */
    -moz-osx-font-smoothing: grayscale;  /* Font smoothing for Firefox on macOS */
}

/* Ensure body takes up full viewport height */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Style for header to always fit the screen */
header {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Default box-sizing for all elements */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset some default margins */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Link styles */
a {
    color: inherit;
    text-decoration: none;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-10px);
  }
  40%, 80% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}